:root {
    --BackgroundColor: #121212;
    --BackgroundColor2: #161616;
    --SurfaceColor: #414141;
    --PrimaryColor: #bb86fc;
    --PrimaryVariantColor: #3700b3;
    --SecondaryColor: #03dac3;
    --ErrorColor: #cf6679;
    --FontColorInBackground: #ffffff;
    --FontColorInSurface: #ffffff;
    --FontColorInPrimary: #000000;
    --FontColorInSecondary: #000000;
    --FontColorInError: #000000;
}

* {
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Open Sans';
    background-color: var(--BackgroundColor);
}

/* Header */

.header {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: var(--SurfaceColor);
    z-index: 1;
}

.header_content {
    position: relative;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.header_logo {
    height: 100px;
    position: absolute;
    top: 0px;
    width: 50%;
}

.Logo-image {
    border-radius: 50%;
    width: 50px;
    display: block;
    height: auto;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 25px;
    background-color: var(--PrimaryColor);
}

.header_logo_nome {
    position: relative;
    margin-left: 20%;
    top: 40px;
    color: var(--FontColorInSurface);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: var(--FontColorInBackground);
}

a:link {
    color: var(--FontColorInBackground);
  }
  
  /* visited link */
  a:visited {
    color: var(--FontColorInBackground);
  }
  
  /* mouse over link */
  a:hover[target="_blank"] {
    color: var(--FontColorInBackground);
  }
  
  /* selected link */
  a:active {
    color: var(--FontColorInBackground);
  }

a:hover {
    color: var(--PrimaryColor);
}

.header_main {
    height: 100px;
    width: 50%;
    margin-left: 50%;
}

.header_links {
    padding: 0%;
    position: relative;
    top: 40px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    width: 100%;
    margin-left: 10%;
}

.header_link-wrapper {
    text-align: center;
}

li {
    display: inline;
}

.header__link {
    color: var(--FontColorInSurface);
    text-align: center;
    padding-left: 40px;
    transition: 0.5s;
}

.header_sm-menu,.header_sm-menu_content,.header_sm-menu-links,.header_sm-menu-link,.header_main_hamburger_menu{
    display: none;
}

/* Main content */

.main-content {
    top:100px;
    position: absolute;
    width: 100%;
}

/* Home */

#Home {
    position: relative;
    height: 900px;
}

.Home-Content {
    position: relative;
    height: 900px;
    margin-left: 5%;
    margin-right: 5%;
}

.Home-Tittle {
    color: var(--FontColorInBackground);
    position: relative;
    top: 250px;
    font-family: 'Open Sans';
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.Home-Information-Text {
    color: var(--FontColorInBackground);
    position: relative;
    top: 250px;
    font-family: 'Open Sans';
    text-align: center;
}

.about-button-in-home {
    display: block;
    text-align: center;
    position: relative;
    background-color: var(--PrimaryColor);
    color: var(--FontColorInPrimary) !important;
    top: 350px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 1rem 6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(177, 81, 233, 0.356);
    transition: 1s;
}

.about-button-in-home:hover {
    top: 340px;
}

.Home-Socials {
    display: none;
}

.mouse {
    width: 24px;
    height: 38.4px;
    border: 2px solid #ffffff;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    display: block;
    top: 550px;
    margin-left: auto;
    margin-right: auto;
}

.Mouse-icon {
    position: relative;
    height: auto;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 5px;
    animation-name: descerBolinha;
    animation-duration: 2s;
    opacity: 1;
    animation-iteration-count: infinite;
}

@keyframes descerBolinha {
    from {top: 5px; opacity: 1;}
    to {top: 25px; opacity: 0;}
}


/* About */

#About {
    position: relative;
    height: 900px;
    background-color: var(--BackgroundColor2);
}

.About-Main-Content {
    margin-left: 5%;
    margin-right: 5%;
    height: 900px;
}

.About-Main-Content-Tittle {
    color: var(--FontColorInBackground);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 35px;
}

.About-Main-Content-Tittle::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.4rem);
    height: 4px;
    width: 3rem;
    background: var(--SecondaryColor);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    top: 90px;
}

.About-Main-Content-Subtext {
    color: #c9c9c9;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
    font-size: 15px;
    font-weight: normal;
    width: 75%;
}

.About-Main-Content-Content {
    position: relative;
    top: 200px;
}

.About-Main-Content-Content-Text {
    width: 40%;
    margin-right: 60%;
    top: 40px;
    position: absolute;
}

.About-Main-Content-Content-Text-Tittle {
    color: var(--FontColorInBackground);
    text-align: left;
    margin-bottom: 35px;
    font-weight: normal;
    font-size: 16px;
}

.About-Main-Content-Content-Text-Text-paragraph {
    color: var(--FontColorInBackground);
    text-align: justify;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: normal;
}

.About-Main-Content-Content-Text-button {
    text-align: center;
    position: relative;
    background-color: var(--SecondaryColor);
    color: var(--FontColorInSecondary) !important;
    top: 40px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding: 12px 36px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(47, 129, 139, 0.466);
    transition: 1s;
}

.About-Main-Content-Content-Text-button:hover {
    top: 30px;
}

.About-Main-Content-Content-Skilss {
    width: 40%;
    margin-left: 60%;
    position: absolute;
    top: 40px;
}

.About-Main-Content-Content-Skilss-Tittle {
    color: var(--FontColorInBackground);
    text-align: left;
    margin-bottom: 35px;
    font-size: 16px;
}

.skills {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
}

.skills__skill {
    padding: 0.5em 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    background: var(--SurfaceColor);
    border-radius: 5px;
    font-weight: 600;
    color: var(--FontColorInSurface);
    line-height: 1.5;
    transition: 1s;
    cursor: pointer;
}

.skills__skill:hover {
    background-color: var(--SecondaryColor);
}

/* Contact */

#Contact {
    background-color: var(--BackgroundColor);
    height: 900px;
    position: relative;
}

.Contact-main-content {
    margin-left: 5%;
    margin-right: 5%;
    height: 900px;
}

.Contact-main-content-tittle {
    color: var(--FontColorInBackground);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 35px;
}

.Contact-main-content-tittle::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.4rem);
    height: 4px;
    width: 3rem;
    background: var(--PrimaryColor);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    top: 90px;
}

.heading-sec__sub-heading-sec__sub--lt {
    color: #c9c9c9;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
    font-size: 15px;
    font-weight: normal;
    width: 75%;
}

.tentativa2 {
    position: relative;
    width: min-content;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whatsapp-icon-link {
    text-align: center;
    position: relative;
    display: inline;
    margin-right: auto;
    margin-left: auto;
}

.Contact-Whatsapp {
    position: relative;
    background-color: var(--SecondaryColor);
    color: var(--FontColorInSecondary) !important;
    top: 320px;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(47, 129, 139, 0.466);
    transition: 1s;
}

.Contact-Whatsapp:hover {
    top: 310px;
}


/* footer */

.footer {
    position: relative;
    height: 250px;
    background-color: #000000;
}

.main-container {
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;
}

.main-footer-icon {
    position: relative;
    width: 20%;
    height: auto;
    padding-right: 8px;
    padding-bottom: 10px;
}

.social-icons-list {
    position: relative;
    top: 50px;
    margin-left: 85%;
}

.heading-heading-sm-main-footer__heading-sm {
    color: var(--FontColorInBackground);
    font-size: 16px;
    top: 50px;
    position: relative;
    margin-left: 85%;
    width: min-content;
    margin-bottom: 10px;
}

.main-footer__row-main-footer__row-2 {
    position: relative;
    top: 0px;
}

.heading-heading-sm-text-lt {
    color: var(--FontColorInBackground);
    font-size: 16px;
    top: 50px;
    position: absolute;
    margin-bottom: 10px;
}

.main-footer__short-desc {
    color: var(--FontColorInSurface);
    position: relative;
    font-size: 10px;
    width: 25%;
    margin-right: 85%;
    top: -10px;
}

.main-footer__lower {
    width: 100%;
    position: relative;
    z-index: 1;
    top: 60px;
    border-top: 1px solid #414141;
}

.Footer_lower_text {
    color: var(--FontColorInBackground);
    text-align: center;
    font-size: 8px;
    padding-top: 15px;
}

.final-link {
    text-decoration: underline;
    cursor: pointer;
}

.final-link:hover {
    color: #ffffff;
}